html {
    font-size: 14px;
    background-color: #fff2cc;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#key-letter {
    font-size: 225px;
    display: flex;
    flex: 1;
    min-height: 20vh;
    margin-top: 15vh;
    align-items: center;
    justify-content: center;
    color: #ffbebc;
    text-shadow: 
    0 1px 0 #dfa7a5,
    0 2px 0 #dfa7a5,
    0 3px 0 #dfa7a5,
    0 4px 0 #dfa7a5,
    0 5px 0 #dfa7a5,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

#keys {
    display: flex;
    flex: 1;
    min-height: 35vh;
    align-items: center;
    justify-content: center;
}

.key {
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem .5rem;
    width: 5rem;
    height: 20rem;
}

.key:active {
    margin-top: 2.2rem;
}

#keyboard-shortcut {
    font-size: 32px;
    display: flex;
    flex: 1;
    min-height: 2vh;
    align-items: center;
    justify-content: center;
}

#demo {
    font-size: 32px;
    display: flex;
    flex: 1;
    min-height: 15vh;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#demo-button {
    border-radius: .5rem;
    padding-top: 1.5rem;
    width: 15rem;
    height: 4rem;
    text-align: center;
    color: rgb(247, 241, 241);
    background-color: #ffbe61;
    box-shadow: 0 0 0 1px #e6aa57 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #e6aa57, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

#demo-button:active {
    margin-top: 1.5rem;
    box-shadow: 0 0 0 1px #e6aa57 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

#C4 {
    background-color: #ffbebc;
    color: #dfa7a5;
    box-shadow: 0 0 0 1px #dfa7a5 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #dfa7a5, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

#C4:active {
    box-shadow: 0 0 0 1px #dfa7a5 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

#D4 {
    background-color: #ffccf9;
    color: #d8add3;
    box-shadow: 0 0 0 1px #d8add3 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #d8add3, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

#D4:active {
    box-shadow: 0 0 0 1px #d8add3 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

#E4 {
    background-color: #d5aaff;
    color: #bb96e0;
    box-shadow: 0 0 0 1px #bb96e0 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #bb96e0, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

#E4:active {
    box-shadow: 0 0 0 1px #bb96e0 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

#F4 {
    background-color: #b5b9ff;
    color: #9fa3e2;
    box-shadow: 0 0 0 1px #9fa3e2 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #9fa3e2, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

#F4:active {
    box-shadow: 0 0 0 1px #9fa3e2 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

#G4 {
    background-color: #85e3ff;
    color: #77cae4;
    box-shadow: 0 0 0 1px #77cae4 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #77cae4, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

#G4:active {
    box-shadow: 0 0 0 1px #77cae4 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

#A4 {
    background-color: #bffcc6;
    color: #abe2b2;
    box-shadow: 0 0 0 1px #abe2b2 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #abe2b2, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

#A4:active {
    box-shadow: 0 0 0 1px #abe2b2 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

#B4 {
    background-color: #e7ffac;
    color: #cde299;
    box-shadow: 0 0 0 1px #cde299 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #cde299, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

#B4:active {
    box-shadow: 0 0 0 1px #cde299 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

#C5 {
    background-color: #ffffd1;
    color: #e2e2b9;
    box-shadow: 0 0 0 1px #e2e2b9 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #e2e2b9, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

#C5:active {
    box-shadow: 0 0 0 1px #e2e2b9 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}